USE [master]
GO
/****** Object:  Database [MainDB]    Script Date: 1/9/2015 5:32:11 PM ******/
CREATE DATABASE [MainDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MainDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MainDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MainDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MainDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MainDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MainDB]
GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 1/9/2015 5:32:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SystemUsers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SystemUsers] ([UserId], [Email], [Password], [PasswordSalt], [Role], [IsActive]) VALUES (N'27285001-8ef4-463b-bc7d-cf98124e7134', N'abc@gmail.com', N'BqGDo2pALPjRdh9X6MKCi4qHQYhnH4bYQRGU4aXDwNTFgpjxtcrlLZHjy2ThZAfxjGuEk9ve0jKlplFrUQyCIw==', N'100000.o+fkFXOuncJjqd7PdRPadcQi3K5xkOqRLAxCBud0Zo2TXA==', N'Student', 1)
INSERT [dbo].[SystemUsers] ([UserId], [Email], [Password], [PasswordSalt], [Role], [IsActive]) VALUES (N'783acd0c-08ce-4d54-8105-54fcf49f258c', N'test@gmail.com', N'kwQyNs5Faoy1HOJVJzjpN5LSnNEDdZ7GMmUZRcQv/0ULYmzcuMTOamNf8EDFbPRIMIupnLFKKCUMQ7IDF6XWBw==', N'100000.RkIBVeNnxrIgHJC8O8nvfiP7xwalYDTOwfGVDfjnN4Ylpg==', N'Teacher', 1)
USE [master]
GO
