body {
}

ul.ul-login-details1 {
    float: right;
    font-family: 'Etihad_Altis_Book';
    margin: 0px;
    padding: 0px;
}

    ul.ul-login-details1 li {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background: #41284f;
        border-radius: 2px;
        display: inline-block;
        float: left;
        margin: 6px 5px 5px;
    }

        ul.ul-login-details1 li a {
            color: #fff;
            text-decoration: none;
        }

            ul.ul-login-details1 li a.aLock {
                background: url(../images/inner_page/sprite.png) no-repeat 2px -150px;
                color: #b195c2;
                cursor: pointer;
                display: inline-block;
                height: 27px;
                margin: 5px 0px 0px 5px;
                padding: 5px 5px 0px 24px;
            }

                ul.ul-login-details1 li a.aLock:hover {
                    background: url(../images/inner_page/sprite.png) no-repeat 2px -110px;
                    color: #ffffff;
                }

        ul.ul-login-details1 li span {
            color: #FFF;
        }

        ul.ul-login-details1 li.logged-user {
            /*background: url(../images/inner_page/sprite.png) no-repeat 7px 11px #41284f;*/
            background-color: #29000C;
            color: #D0A234;
            cursor: default;
           padding: 4px 10px 10px 17px;
        }

        ul.ul-login-details1 li.logoff {
            background: url(../images/inner_page/sprite.png) no-repeat 7px -17px #41284f;
            display: inline-block;
            padding: 10px 10px 10px 30px;
        }

            ul.ul-login-details1 li.logoff:hover {
                background: url(../images/inner_page/sprite.png) no-repeat 7px -45px #41284f;
            }

.logout_btn {
    background: #2f353d;
    border: 0px none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-family: 'Etihad_Altis_Book';
    font-size: 14px;
    background-color: #29000c;
    position: relative;
    text-decoration: none;
     margin-top: 5px;
    padding: 6px 17px 8px;
}
.table-grid {
    border: 0px solid #ededed;
    border-collapse: collapse;
    font-family: 'Etihad_Altis_Book';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}

    .table-grid th {
        background: #138e4b;
        /*background: url(../images/bg_gridHead.png) repeat-x left bottom; #1a93c6*/
        color: #ffffff;
        height: 20px;
        padding: 5px 10px;
        text-align: left;
        text-transform: capitalize;
    }

    .table-grid td {
        border-bottom: 1px solid #ededed;
        border-right: 1px solid #ededed;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        /*border-bottom: 1px solid #1a93c6;
		border-right: 1px solid #1a93c6;*/
    }

        .table-grid td a {
            /*color: #006ABE;*/
            text-decoration: none;
        }

    .table-grid tr:nth-child(odd) {
        background-color: #ffffff;
        border-bottom: 1px solid #ededed;
        padding: 5px;
        text-align: left;
        text-decoration: none;
    }

    .table-grid tr:nth-child(even) {
        /*background-color: #edfbff;*/
        background-color: #f7f5f5;
        border-bottom: 1px solid #ededed;
        padding: 5px;
        text-align: left;
        text-decoration: none;
    }

/*<<Added by sharon*/

/*Added by sharon>>*/


.mGrid {
    width: 99%;
    font-family: 'Etihad_Altis_Book';
    background-color: #fff;
    margin: 0px 0;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed; /*color: #525252;*/
}

    .mGrid td {
        padding: 2px 4px;
        border-right: solid 1px #ededed;
        border-bottom: solid 1px #ededed;
        word-wrap: break-word;
    }

    .mGrid th {
        padding: 7px 4px;
        color: #fff;
        background: #138e4b;
        border-right: solid 1px #ededed;
        text-align: left;
    }

    .mGrid .alt {
        background: #f7f5f5;
    }

    .mGrid .norec {
        font-family: 'Etihad_Altis_Book';
        color: #ff4875;
    }

    .mGrid .pgr {
        font-family: 'Etihad_Altis_Book';
        background: #fff;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            font-weight: bold;
            color: #1a93c6;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #D0A234;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #29000C;
                text-decoration: none;
            }



        .mGrid .pgr table td span {
            font-family: 'Etihad_Altis_Book';
            color: #ff0000;
            text-decoration: none;
            display: inline-block;
            /*background: #4bdbff;*/
        }


.table-innerGrid {
    border: 0px solid #ededed;
    border-collapse: collapse;
    font-family: 'Etihad_Altis_Book';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}

    .table-innerGrid th {
        background: #999;
        /*background: url(../images/bg_gridHead.png) repeat-x left bottom; #1a93c6*/
        color: #ffffff;
        height: 10px;
        padding: 5px 10px;
        text-align: right;
        text-transform: capitalize;
    }

    .table-innerGrid td {
        border-bottom: 1px solid #ededed;
        border-right: 1px solid #ededed;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        /*border-bottom: 1px solid #1a93c6;
		border-right: 1px solid #1a93c6;*/
    }

        .table-innerGrid td a {
            /*color: #006ABE;*/
            text-decoration: none;
        }

    .table-innerGrid tr:nth-child(odd) {
        background-color: #ffffff;
        border-bottom: 1px solid #ededed;
        padding: 5px;
        text-align: left;
        text-decoration: none;
    }

    .table-innerGrid tr:nth-child(even) {
        /*background-color: #edfbff;*/
        background-color: #f7f5f5;
        border-bottom: 1px solid #ededed;
        padding: 5px;
        text-align: left;
        text-decoration: none;
    }

    
/*Added by sharon- For Jquery Datatable*/
/*
 * Control feature layout
 */
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}

    .dataTables_wrapper .dataTables_length {
        float: left;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
    }

        .dataTables_wrapper .dataTables_filter input {
            margin-left: 0.5em;
        }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333333 !important;
            border: 1px solid transparent;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                color: #333333 !important;
                border: 1px solid #cacaca;
                background-color: white;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, white 0%, gainsboro 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, white 0%, gainsboro 100%);
                /* W3C */
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                cursor: default;
                color: #666 !important;
                border: 1px solid transparent;
                background: transparent;
                box-shadow: none;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                color: white !important;
                border: 1px solid #111111;
                background-color: #585858;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, #585858 0%, #111111 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, #585858 0%, #111111 100%);
                /* W3C */
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:active {
                outline: none;
                background-color: #2b2b2b;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
                /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* Chrome10+,Safari5.1+ */
                background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* FF3.6+ */
                background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* IE10+ */
                background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                /* Opera 11.10+ */
                background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
                /* W3C */
                box-shadow: inset 0 0 3px #111;
            }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 40px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background-color: white;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* IE10+ */
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        /* W3C */
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        color: #333333;
    }

    .dataTables_wrapper .dataTables_scroll {
        clear: both;
    }

        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
            *margin-top: -1px;
            -webkit-overflow-scrolling: touch;
        }

            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
                height: 0;
                overflow: hidden;
                margin: 0 !important;
                padding: 0 !important;
            }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #111111;
    }

    .dataTables_wrapper.no-footer div.dataTables_scrollHead table,
    .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
        border-bottom: none;
    }

    .dataTables_wrapper:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    }
}

fieldset {
    font-family: Etihad_Altis_Book;
    border: 2px solid #138e4b;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    width: 926px;
}

    fieldset legend {
        /*background: #1F497D;*/
        color: #29000C;
        padding: 5px 10px;
        font-size: 20px;
        /*border-radius: 5px;
        box-shadow: 0 0 0 3px #ddd;*/
        margin-left: 20px;
    }

.chkstyle {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: red;
    color: black;
    text-align: right;
    font-weight: bold;
}

.ok-tick {
    background-image: url(../images/inner_page//ok_tick.ico);
    display: inline-block;
    width: 20px;
    height: 17px;
}

.lbl_browse:before {
    background: none repeat scroll 0 0 #00B7CD;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Etihad_Altis_Book';
    font-size: 15px;
    content: 'Browse';
    padding: 4px 12px;
    position: absolute;
}

.ulStyle {
    list-style-type: decimal;
    padding: 7px;
    margin: 0px;
    font-size: 14px;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 10px;
    line-height: 10px;
    display: inline-block;
}

.chkAl {
    display: inline;
}

.table-import tbody {
    vertical-align: middle;
}

.table-import td {
    height: 45px;
}

.popover {
    top: 00px;
    left: 00px;
    position: relative;
}

.big_img {
    position: absolute;
}

/*Added by sharon- For Jquery Datatable*/
.strip2_menu:hover {
    background-color: #FAF7EC;
}


.cb {
    clear: both;
    padding-top: 85px;
}


/*Sarat*/
 input[type="text"],input[type="textbox"], input[type="password"] {
     background: none repeat scroll 0 0 #161616;
     border: 1px solid #4D0A36;
     color: #FFFFFF;
     height: 19px;
     padding-top: 3px;
     width: 225px;
 }

 .w340{
    width:340px;
}
.ma{
    margin:auto;
}
.fl{
    float:left;
}

.mtb10{
    margin:10px 0px;
}
.mt20{
       margin-top:20px;
}
.mt5{
       margin-top:5px;
}
.admin_login_form{
    margin-top:160px;
    text-align: center
}
.admin-login-form-image_welcome{
    margin:20px 0px;
}

input[type="textbox"],input[type="text"],input[type="password"]{
    background:#F6F6F6;
    border:2px solid #C6C6C6;
    height:41px;
    color:#FFF;
    width:336px;
    padding-top:3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#CCCCCC;
    text-align: center;
    font-weight: bold;
}

.submit {
    background: url("../Images/login-copy_11-15.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 41px;
    margin-right: 6px;
    width: 340px;
    border:none;
    font-size: 19px;
    color:#FFFFFF;
    
}
.submit:hover {
    background-position:0px -41px;
}
.mandatory {
    position:absolute;right:-10px;top: 16px;
}
.pr {
    position: relative;
}

/*From CP Added by sharon- For Master*/


ul.ul-login-details1 {
    float: right;
    font-family: 'Etihad_Altis_Book';
    margin: 0px;
    padding: 0px;
}

    ul.ul-login-details1 li {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background: #41284f;
        border-radius: 2px;
        display: inline-block;
        float: left;
        margin: 12px 5px 5px 5px;
    }

        ul.ul-login-details1 li a {
            color: #fff;
            text-decoration: none;
        }

            ul.ul-login-details1 li a.aLock {
                background: url(../images/inner_page/sprite.png) no-repeat 2px -150px;
                color: #b195c2;
                cursor: pointer;
                display: inline-block;
                height: 27px;
                margin: 5px 0px 0px 5px;
                padding: 5px 5px 0px 24px;
            }

                ul.ul-login-details1 li a.aLock:hover {
                    background: url(../images/inner_page/sprite.png) no-repeat 2px -110px;
                    color: #ffffff;
                }

        ul.ul-login-details1 li span {
            color: #FFF;
        }

        ul.ul-login-details1 li.logged-user {
            /*background: url(../images/inner_page/sprite.png) no-repeat 7px 11px #41284f;*/
            background-color: #29000C;
            color: #D0A234;
            cursor: default;
            padding: 0px 10px 10px 30px;
        }

        ul.ul-login-details1 li.logoff {
            background: url(../images/inner_page/sprite.png) no-repeat 7px -17px #41284f;
            display: inline-block;
            padding: 10px 10px 10px 30px;
        }

            ul.ul-login-details1 li.logoff:hover {
                background: url(../images/inner_page/sprite.png) no-repeat 7px -45px #41284f;
            }


.dv_userdetails {
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    background: #29000C;
    border-radius: 5px;
    border-top: none;
    border-top-right-radius: 0;
    display: none;
    font-family: 'Etihad_Altis_Book';
    padding: 0px;
    padding: 5px 10px;
    position: absolute;
    right: -4px;
    top: 32px;
    z-index: 99999;
}

ul.userdetails {
    font-family: 'Etihad_Altis_Book';
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    ul.userdetails li {
        border: none;
        border-bottom: solid 1px #29000C;
        display: block;
        float: none;
        margin: 5px;
        padding: 2px;
    }

        ul.userdetails li span.s-user-role {
            background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px 4px;
            color: #29000C;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 2px 0px 2px 25px;
        }

            ul.userdetails li span.s-user-role:hover {
                background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px -155px;
            }

        ul.userdetails li span.s-email {
            background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px -25px;
            color: #D0A234;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 2px 5px 2px 25px;
        }

        ul.userdetails li span.s-phone {
            background: url(../images/inner_page/sprite.png) no-repeat 0px -180px;
            color: #ffffff;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 10px 5px 2px 25px;
        }

        ul.userdetails li a {
            color: #ffffff;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            text-decoration: none;
        }

            ul.userdetails li a:hover {
                color: #fff;
                text-decoration: none;
            }

        ul.userdetails li span.aUser-role {
            background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px 2px;
            color: #D0A234;
            display: inline-block;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 0px 0px 0px 25px;
            text-decoration: none;
        }

        /*ul.userdetails li span.aUser-role:hover {
                color: #beaacb;
                background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px -157px;
            }*/

        ul.userdetails li a.change-pwd {
            background: url(../images/inner_page/icons-userdetails.png) no-repeat 0px -88px;
            color: #D0A234;
            display: inline-block;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 0px 0px 0px 25px;
            text-decoration: none;
        }

            ul.userdetails li a.change-pwd:hover {
                background: url(../images/inner_page/icons-userdetails.png) no-repeat -1px -247px;
                color: #FFF;
            }

        ul.userdetails li a.logout {
            background: url(../images/inner_page/sprite.png) no-repeat -1px -26px #29000C;
            color: #D0A234;
            display: inline-block;
            /*font: normal 13px Etihad_Altis_Book;*/
            font: normal 13px;
            padding: 0px 0px 5px 25px;
            text-decoration: none;
        }

            ul.userdetails li a.logout:hover {
                background: url(../images/inner_page/sprite.png) no-repeat -1px -54px #29000C;
                color: #FFF;
            }

/*From CP Added by sharon- For Master*/



#menu-bar {
  /*width: 95%;*/
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #A9A9A9, #138e4b);
  background: -ms-linear-gradient(top,  #A9A9A9,  #138e4b);
  background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#138e4b));
  background: -moz-linear-gradient(top,  #A9A9A9,  #138e4b);
  border: solid 1px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

/*Added by sharon for Search>>*/

.dv_fl_right {
    float: right;
}

.aSearch {
    width: 32px;
    height: 32px;
    background: url(../images/search.png) center center #138e4b;
    display: block;
    float: right;
    margin: 0px -3px 0px 2px;
    text-indent: -9999px;
}

.dv_search {
    float: right;
    display: block;
    background-color: #f6f6f6;
    padding: 5px 10px;
    border: solid 1px #afafaf;
    margin: 0px 2px 0px 0px;
    color: #aa1a64;
}

ul.ul_searchform {
    list-style: none;
    margin: 0;
    padding: 0; /*padding-top:10px;*/
    margin-top: 2px;
}

    ul.ul_searchform li {
        margin: 0;
        padding: 5px;
        border: none;
        display: inline-block;
        float: left;
        font-size: 14px;
        color: #000000;
        font-weight: normal;
        text-decoration: none;
        text-align: left;
    }

        ul.ul_searchform li span {
            font-size: 14px;
            color: #494747;
            font-weight: normal;
            text-decoration: none;
            text-align: left;
            display: inline-block;
            margin: 4px 10px 0px 8px;
            float: left;
        }


.pageheader {
    height: 32px;
    display: block;
    background: url(../images/bg_footer.png) repeat-x 0px 25px;
    font-weight: bold;
    padding: 0px 5px;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}

    .pageheader span {
        height: 34px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        display: inline-block;
        padding: 5px;
        margin-left: 5px;
        color: #0f1011;
    }

.demo_container, .demo_container1 {
    position: relative;
    display: block;
    /*border: solid 1px #1a93c6;*/
    margin: 10px 2px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
}

/*Added by sharon for Search>>*/

.clear { clear: both; }

.addkey_btn_search {
    background: #138e4b;
    /*background: -moz-linear-gradient(center top, #CCA55A 0%, #AF8D4D 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    
    font-size: 15px;
    padding: 3px 15px;
    height: 29px;
}
a.aEdit {
    width: 20px;
    height: 20px;
    background: url(../images/sprite_icons.png) 0px -71px;
    display: block;
    float: right;
    margin: 0px 2px;
    text-indent: -9999px;
}
a.aDelete {
    width: 24px;
    height: 24px;
    background: url(../images/sprite_icons.png) 0px -114px;
    display: block;
    float: right;
    margin: 0px 2px;
    text-indent: -9999px;
    font-size: 14px;
}